In [1]:
import numpy as np
import pandas as pd
import statsmodels.tsa.stattools as ts
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

%store -r dat
dat

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,year,month,day,hour
0,2012-01-01 01:00:00,-4.187027,498.272491,132.585444,-4.331107,47.011057,1.646980,1.498874,0.148436,0.977048,1.650631,1307.86,-0.204862,-0.046168,-0.614587,-0.138503,year 2012,month 1,day 1,hour 1
1,2012-01-01 02:00:00,-4.513490,498.346536,132.155846,-5.144637,46.609310,1.407817,1.453446,-0.012474,1.005379,1.575515,1312.25,-0.245971,-0.044701,-0.619848,-0.112645,year 2012,month 1,day 1,hour 2
2,2012-01-01 03:00:00,-4.419986,498.324978,132.239725,-4.864652,46.660838,1.674208,1.402759,0.121875,0.938557,1.432068,1312.18,-0.175527,0.039879,-0.614344,0.139576,year 2012,month 1,day 1,hour 3
3,2012-01-01 04:00:00,-4.643191,498.548175,132.284963,-5.128783,46.333029,1.395419,1.656221,0.002041,0.949993,1.241215,1313.61,-0.050000,-0.086603,-0.190000,-0.329090,year 2012,month 1,day 1,hour 4
4,2012-01-01 05:00:00,-4.802056,498.790885,131.710328,-5.345652,46.133068,1.502969,1.336300,0.021828,0.763201,1.427051,1317.19,-0.368202,0.156292,-0.810044,0.343843,year 2012,month 1,day 1,hour 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70086,2019-12-31 19:10:00,-0.404982,501.040783,135.916502,-2.597715,36.011214,2.783641,1.966605,0.775285,1.138488,1.917188,1280.70,-0.855154,-0.160038,-1.336792,-0.250174,year 2019,month 12,day 31,hour 19
70087,2019-12-31 20:10:00,-0.720429,500.808688,135.873692,-3.444217,33.113073,2.818106,1.813547,0.793354,1.143923,1.967996,1281.87,-0.716196,-0.726267,-1.348134,-1.367090,year 2019,month 12,day 31,hour 20
70088,2019-12-31 21:10:00,-1.371468,500.492515,135.174733,-3.456158,36.551115,2.390426,1.920235,0.669662,1.162564,1.831300,1288.02,-0.661501,0.257908,-1.453438,0.566672,year 2019,month 12,day 31,hour 21
70089,2019-12-31 22:10:00,-1.402805,500.222985,135.031809,-3.587148,36.195800,2.467938,1.787150,0.808476,1.087828,1.629261,1288.03,-0.280621,-0.209169,-0.545207,-0.406385,year 2019,month 12,day 31,hour 22
70090,2019-12-31 23:10:00,-2.001010,499.953958,134.575172,-3.948481,36.300218,2.108959,1.718543,0.533920,1.134640,1.821696,1292.41,-0.516998,-0.215205,-0.923210,-0.384295,year 2019,month 12,day 31,hour 23

## Normalization of the variables

In [2]:
dat_y = dat.loc[:,['year','month','day','hour','V0','V1']]
dat_x = dat.loc[:,'V2':'V15'].apply(lambda  x: (x-x.mean())/x.std(),axis=0)
dat = pd.concat([dat_y,dat_x],axis=1)
dat

,year,month,day,hour,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15
0,year 2012,month 1,day 1,hour 1,2012-01-01 01:00:00,-4.187027,0.876997,-2.153926,-2.022831,1.093287,-1.327910,-1.560263,-0.763883,-1.527495,-1.495066,2.296447,0.212812,0.232446,0.130552,0.227837
1,year 2012,month 1,day 1,hour 2,2012-01-01 02:00:00,-4.513490,0.894709,-2.254932,-2.264491,1.044520,-1.389687,-1.581956,-0.829536,-1.506219,-1.530497,2.406267,0.192127,0.233391,0.128852,0.237737
2,year 2012,month 1,day 1,hour 3,2012-01-01 03:00:00,-4.419986,0.889552,-2.235210,-2.181321,1.050775,-1.320877,-1.606159,-0.774720,-1.556402,-1.598159,2.404516,0.227572,0.287866,0.130630,0.334304
3,year 2012,month 1,day 1,hour 4,2012-01-01 04:00:00,-4.643191,0.942942,-2.224574,-2.259782,1.010983,-1.392890,-1.485130,-0.823614,-1.547814,-1.688182,2.440289,0.290732,0.206403,0.267724,0.154868
4,year 2012,month 1,day 1,hour 5,2012-01-01 05:00:00,-4.802056,1.000999,-2.359680,-2.324203,0.986710,-1.365109,-1.637893,-0.815541,-1.688092,-1.600526,2.529847,0.130626,0.362845,0.067405,0.412511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70086,year 2019,month 12,day 31,hour 19,2019-12-31 19:10:00,-0.404982,1.539187,-1.370737,-1.507924,-0.241952,-1.034306,-1.336920,-0.508120,-1.406256,-1.369335,1.617010,-0.114389,0.159105,-0.102773,0.185083
70087,year 2019,month 12,day 31,hour 20,2019-12-31 20:10:00,-0.720429,1.483669,-1.380802,-1.759379,-0.593750,-1.025403,-1.410006,-0.500748,-1.402174,-1.345370,1.646278,-0.044471,-0.205587,-0.106437,-0.242545
70088,year 2019,month 12,day 31,hour 21,2019-12-31 21:10:00,-1.371468,1.408038,-1.545140,-1.762926,-0.176415,-1.135875,-1.359062,-0.551216,-1.388174,-1.409847,1.800127,-0.016950,0.428293,-0.140458,0.497824
70089,year 2019,month 12,day 31,hour 22,2019-12-31 22:10:00,-1.402805,1.343565,-1.578743,-1.801837,-0.219546,-1.115853,-1.422611,-0.494577,-1.444301,-1.505146,1.800378,0.174693,0.127461,0.152966,0.125275
70090,year 2019,month 12,day 31,hour 23,2019-12-31 23:10:00,-2.001010,1.279213,-1.686107,-1.909171,-0.206871,-1.208579,-1.455371,-0.606600,-1.409145,-1.414378,1.909948,0.055758,0.123573,0.030844,0.133732

## feature engineering

In [3]:
##feature engineering
movs=[10,20]
mov_data = pd.DataFrame()
for mov in movs:
    #moving average 
    temp1 = dat.loc[:,'V1':'V15'].apply(lambda  x: x.rolling(window=mov).mean(),axis=0)
    temp1.columns = str(mov) + ' mov avg ' + temp1.columns

    #moving average max
    temp2 = dat.loc[:,'V1':'V15'].apply(lambda  x: x.rolling(window=mov).max(),axis=0)
    temp2.columns = str(mov) +' mov max ' + temp2.columns

    #moving average min
    temp3 = dat.loc[:,'V1':'V15'].apply(lambda  x: x.rolling(window=mov).min(),axis=0)
    temp3.columns = str(mov) + ' mov min ' + temp3.columns

    mov_data = pd.concat([temp1,temp2,temp3,mov_data],axis=1)[40:]
print(mov_data.shape)

(70051, 90)

In [4]:
prv_data = pd.DataFrame()
for i in range(7,17):
    #print(i)
    temp = dat.loc[:,'V1':'V15'].shift(i)
    temp.columns = str(i) + ' lag ' + temp.columns
    prv_data = pd.concat([temp,prv_data],axis=1)
prv_data = prv_data[40:]
prv_data.shape

(70051, 150)

In [5]:
#one hot encoding
list_one_hot = ['year','month','day','hour']
for i in list_one_hot:
    # Get one hot encoding of columns B
    one_hot = pd.get_dummies(dat[i])
    # Drop column B as it is now encoded
    dat = dat.drop(i,axis = 1)
    # Join the encoded df
    dat = dat.join(one_hot)
  
  #delete time stamp
del dat['V0']
dat.shape

(70091, 90)

In [6]:
#Connect of all new databases
dat_new = pd.concat([dat[40:],prv_data,mov_data],axis=1)
#Sanity test
print(dat_new.shape)
print(dat[40:].shape,prv_data.shape,mov_data.shape)
print('******')
#Divide data to train\test, x\y, 7 hours ahead
#x/y
y_dat = dat_new.loc[:,'V1']
x_dat = dat_new.loc[:, dat_new.columns != 'V1']

#shift 7 hours ahead  
y_dat = y_dat[7:]
x_dat = x_dat[:-7]

#train\test
x_train, x_test, y_train, y_test = train_test_split(x_dat, y_dat, test_size=0.2)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(70051, 330)
(70051, 90) (70051, 150) (70051, 90)
******
(56035, 329) (14009, 329)
(56035,) (14009,)

## model fit

In [7]:
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Spot Check Algorithms
models = []
models.append(('LR', LinearRegression()))
models.append(('DT',DecisionTreeRegressor(max_depth=12, min_samples_leaf=7, min_samples_split=7)))
models.append(('RF',RandomForestRegressor(n_estimators=100 ,max_depth=12, min_samples_leaf=7, min_samples_split=7)))
models.append(('XG',XGBRegressor(n_estimators=100)))

# evaluate each model in turn
results = []
names = []
rmses = []
for name, model in models:
    if name=='XG':
        model.fit(x_train, y_train, early_stopping_rounds=5,eval_set=[(x_test, y_test)], verbose=False)
    else:
        model.fit(x_train, y_train)
    y_predict_test = model.predict(x_test)
    y_predict_train = model.predict(x_train)
    results.append(y_predict_test)
    names.append(name)
    rmse_train = sqrt(mean_squared_error(y_train, y_predict_train))
    rmse_test = sqrt(mean_squared_error(y_test, y_predict_test))
    rmses.append(rmse_test)
    print("%s: RMSE train %f RMSE test %f" % (name,rmse_train,rmse_test))
    r2_train = r2_score(y_predict_train, y_train)
    r2_test = r2_score(y_predict_test, y_test)
    print("%s: r2 train   %f r2 test   %f" % (name,r2_train,r2_test))

LR: RMSE train 1.098020 RMSE test 1.104510
LR: r2 train   0.927189 r2 test   0.926028
DT: RMSE train 0.921736 RMSE test 1.241055
DT: r2 train   0.949772 r2 test   0.907548
RF: RMSE train 0.791632 RMSE test 1.021986
RF: r2 train   0.961765 r2 test   0.935029
[16:08:10] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XG: RMSE train 1.147922 RMSE test 1.172277
XG: r2 train   0.917746 r2 test   0.913537

In [216]:
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphidata['lag_1'] = data['Count'].shift(1)cs.tsaplots import plot_pacf
plot_acf(dat['V1'], lags=50)
plot_pacf(dat['V1'], lags=50)

SyntaxError: invalid syntax (<ipython-input-216-82ce14fde444>, line 2)

## goodnes of fit

In [11]:
names[2]

'RF'